* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #4a164b;
  --secondary-color: #ecddec;
  --text-color: #ffffff;
  --link-color: #39bde8;
  --border-color: #6f456f;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: 100vh;
}

header {
  width: 100%;
  height: 5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2rem 0 1.7rem;

  color: var(--text-color);
  stroke: var(--text-color);
}

header.scroll {
  margin-top: 0.5rem;
  display: none;

  background-color: var(--text-color);
  border-radius: 9999px;

  color: #1f0920;
  stroke: #1f0920;
}

.header__logo:focus,
.header__nav-left-item:focus,
.header__nav-icon:focus,
.header__button-workspace:focus {
  border: 2px dotted var(--text-color);
}

.header__logo {
  width: 115px;

  margin-top: 0.7rem;

  outline: none;
  border: 2px dotted transparent;
}

.header__logo img {
  width: 100%;
}

.header__logo:focus {
  border: 2px dotted var(--text-color);
}

.header__nav {
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: end;
  align-items: center;

  stroke: inherit;
}

.header__nav-left {
  height: 100%;
  height: fit-content;

  display: none;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  padding-left: 2.3rem;

  list-style-type: none;
}

.header__nav-left-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: transparent;
  border: 2px dotted transparent;
  outline: none;
  cursor: pointer;
  color: inherit;
  font-size: 1rem;
  font-weight: inherit;
}

.header__nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;

  list-style-type: none;
  stroke: inherit;
}

.header__button-sales {
  margin-right: 1rem;
  display: none;
  padding: 0.8rem 0.7rem;

  border: 1px solid;
  border-color: inherit;
  border-radius: 0.25rem;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-weight: bold;
  letter-spacing: 0.07rem;
  transition: border 0.2s ease-in-out;
  cursor: pointer;
}

.header__button-workspace {
  display: none;
  padding: 0.8rem 0.7rem;

  border: 2px solid transparent;
  border-radius: 0.25rem;
  outline: none;
  background-color: var(--text-color);
  color: var(--main-color);
  font-weight: bold;
  letter-spacing: 0.07rem;
  transition: border 0.2s ease-in-out;
  cursor: pointer;
}

.scroll .header__button-workspace {
  background-color: var(--main-color);
  color: var(--text-color);
}

.header__button-workspace:hover {
  border: 2px solid var(--main-color);
}

.scroll .header__button-workspace:hover {
  border: 2px solid var(--text-color);
}

.header__nav-icon {
  border: 2px dotted transparent;
  background-color: transparent;
  padding: 0.5rem 0.25rem;
  outline: none;
  cursor: pointer;
}

.search {
  margin-right: 1rem;
  stroke: inherit;
}

section {
  width: 90%;
}

.elin-welcom-sign {
  margin-bottom: 1.5rem;
  display: flex;
  font-family: "Poppins";
  font-size: 2.5rem;
  margin-left: -100px;
}

.elin-hand-1 {
  animation: flash 3s infinite;
  margin-right: 10px;
}
.elin-slack-connect {
  background-color: var(--text-color);
  padding: 0.5rem;
  margin: auto;
  width: 80%;
  display: flex;
  align-items: flex-start;
  border-radius: var(--border-radius);
  border-color: var(--border-color);
  flex-direction: column;
  font-family: "Poppins";
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato";
}

.kristoffer-main-border {
  border: 0.3rem solid var(--border-color);
  border-radius: 0.4rem;
  margin-bottom: 2rem;
}

.kristoffer-main-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.2rem;
}

.kristoffer-article-headline {
  background-color: var(--secondary-color);
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 0.2rem;
  width: 100%;
}

.kristoffer-btn {
  background-color: var(--main-color);
  color: #ffffff;
  width: 100%;
  border-radius: 0.5rem;
  height: 3rem;
  margin-bottom: 1rem;
  transition: 0.3s background-color linear;
}

.kristoffer-chas-logo {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  margin: 0.5rem;
  margin-right: 1.5rem;
}
.kristoffer-article-lowerbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.kristoffer-article-name {
  font-size: 1.2rem;
  line-height: 1.5;
  width: 100%;
  font-weight: bold;
}
.kristoffer-inline-text {
  display: flex;
}

.kristoffer-cat-pix {
  width: 1.2rem;
  height: 1.2rem;
  object-fit: cover;
  border-radius: 5px;
  margin-left: -5px;
  border: 1px solid white;
}

.kristoffer-img-div {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
}

.kristoffer-box-text {
  align-content: space-around;
  justify-content: space-around;
  flex: 1;
}

.kristoffer-img-text {
  display: flex;
  margin-top: 0.5rem;
}

.kristoffer-article-members {
  font-size: 1rem;
  color: rgb(147, 147, 147);
}

.kristoffer-btn:hover {
  background-color: rgb(45, 2, 45);
  cursor: pointer;
}

.moa-container-different-team {
  display: flex;
  flex-direction: column;
}

.moa-image {
  align-self: flex-start;
  order: 1;
  height: 121px;
  width: 200px;
  margin-bottom: -30.5px;
}

.moa-box-border {
  background-color: var(--text-color);
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  border: 0.3rem solid var(--border-color);
  border-radius: 0.5rem;
}

.moa-h2 {
  margin: 1rem;
  font-size: 1.3rem;
}

.moa-button {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 0.3rem;
  padding: 0.5em;
  margin: 1rem;
}

.simon-mail-link-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.simon--mail-link {
  color: var(--text-color);
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}
.simon--mail-link-blue {
  text-decoration: none;
  color: var(--link-color);
  font-size: 1.3rem;
  transition: all 1s ease-in-out;
  position: relative;
  margin-bottom: 2rem;
}
.simon--mail-link-blue::after {
  content: "";
  width: 0%;
  height: 3px;
  color: var(--link-color);
  position: absolute;
  bottom: -0.3rem;
  background-color: var(--link-color);
  left: 0;
}
.simon--mail-link-blue:hover::after {
  width: 100%;
}

.simon--mail-link-blue::after {
  transition: width 0.3s ease;
}

.elin-small-connect {
  font-size: 0.8rem;
}

/* Desktop */
@media (min-width: 1024px) {
  .header__nav {
    justify-content: space-between;
  }

  .header__nav-left {
    display: flex;
  }

  .header__button-workspace {
    display: block;
  }

  .hamburger {
    display: none;
  }

  .moa-box-border {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .moa-image {
    order: 0;
  }

  .moa-button {
    flex-basis: 300px;
    font-size: 1rem;
  }

  .kristoffer-article-lowerbox {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .kristoffer-btn {
    width: 30%;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .simon-mail-link-container {
    flex-direction: row;
  }

  .simon--mail-link {
    margin-right: 2rem;
  }

  .simon--mail-link-blue {
    margin-bottom: 0;
  }
}

@keyframes flash {
  0% {
    filter: brightness(0.3);
  }
  50% {
    filter: brightness(1.5);
  }
  100% {
    filter: brightness(0.3);
  }
}
